@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

/* Some assumptions */
* {
   margin: 0;
   padding: 0;

   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

html, body { height: auto; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; margin-bottom: 0.7em; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
h2 { color: #073643; font-size: 135%; margin-bottom: .5em; font-weight: 300; }
h2 sup a { font-size: 60%; color: #586E75 !important; }
p { margin: 1.75em 0; margin-top: 1em; }

body {
   background-color: #FDF6E3; /* #ecf0f1; */
   font: 13.34px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: small;
   -webkit-font-smoothing: antialiased;
   text-align: center;
   color: #002C36;
}

.top-border {
   position: fixed;
   top: 0;
   right: 0;
   bottom: auto;
   left: 0;
   margin: auto;
   width: 100%;
   height: 7px;
   background-color: #EFE8D5;
}

/* Gentle links */
a, a:visited { color: #C54815; text-decoration: none; }
a:hover, a:active { color: #B58916; }

/* The blog posts archive, a long list */
.posts {
   list-style-type: none;
   margin-bottom: 2em;
}

.posts li {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   line-height: 2em;
}

.posts span {
   color: #93A2A1;
   font-family: Menlo, Monaco, "Courier New", monospace;
   font-size: 80%;
   margin-right: 1em;
}

main {
   font-size: 110%;
   text-align: left;
   margin: 2em auto 0.5em;
   line-height: 1.5em;
   max-width: 42em;
   padding-left: 18px;
   padding-right: 18px;
}

.search {
   margin-bottom: 1.5em;
}

.search input {
   font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 90%;
   padding-left: 0.25em;
}

/* Don't display date if screen is small */
@media only screen and (max-width: 40em) {
   main { margin-left: 1.0em; margin-right: 1.0em; }
}

header a {
   font-weight: bold;
   text-decoration: none;
}

/* the website's name on the header */
.title {
   font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
   display: inline-block;
   line-height: 0.5em;
   margin-bottom: 2.5em;
}

.title a, .title a:visited {
   color: #586E75;
   font-weight: 500;
}

.title a:hover {
   color: #B58916;
}

.title {
   margin-top: .4em;
}

.meta {
   color: #93A2A1;
}

code,
pre {
   font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
   padding: .25em .25em;
   font-size: 85%;
   color: #bf616a;
   background-color: transparent;
   border-radius: 3px;
}
pre {
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   display: block;
   margin: 0 0 14px;
   padding: 10px 20px;
   font-size: 15px;
   line-height: 1.4;
   white-space: pre;
   white-space: pre-wrap;
   word-break: break-all;
   word-wrap: break-word;
   background-color: #EFE8D5;
   border: 1px solid #EFE8D5;
}
pre code {
   padding: 0;
   font-size: 80%;
   color: inherit;
   background-color: transparent;
}
.highlight {
   margin-bottom: 1.6em;
   border-radius: 4px;
}
.highlight pre {
   margin-bottom: 0;
}

blockquote {
   padding: 0px 18px;
   margin: 15px 0;
   border-left: 3px solid #839596;
}

blockquote p {
   margin-bottom: 0;
   color: #657C83;
}

article {
   overflow: auto;
   word-wrap: break-word;
   margin-bottom: 1em;
}

article .external-link, article .external-link a  {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   font-size: 90%;
   color: #586E75;
}

article h2, article h2 a, article h2 a:visited {
   color: #C54815;
   font-weight: 300;
}

article h2 a:hover {
   color: #B58916;
}

article ul, article ol {
   margin-left: 1.35em;
   margin-bottom: 0.7em;
}

hr {
   border: 0;
   height: 0;
   border-top: 1px solid rgba(0, 0, 0, 0.1);
   border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* Rounded corners, aligned, etc. */
article img {
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   max-width: 100%;
   vertical-align: middle;
   page-break-inside: avoid;
}

.context-nav {
   height: 4em;
   width: 100%;
   text-align: left;
   color: #93A2A1
}

.context-nav hr {
   margin-bottom: 0.5em;
}

.context-nav span.prev {
   text-align: left;
   float: left;
}

.context-nav span.next {
   text-align: right;
   float: right;
}

footer {
   height: 2.5em;
}

footer #date, footer #date a {
   float: right;
   color: #93A2A1;
}

footer span.separator {
   margin-left: 0.25em;
   margin-right: 0.25em;
   color: #93A2A1;
}

footer #return,
footer #date {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

/* Remove the huge gap at the first paragraph */
#home p.intro {
   margin-top: 0px;
}
