<nav>
  <div id="bio">
    <p style="text-transform: uppercase">{{ site.title }}</p>
    <ul>
      <li><i class="fa fa-home" style="color: #aaa; width: 12px; text-align: center"></i> &nbsp;<strong><a href="/">home page</a></strong></li>
      <li><i class="fa fa-info-circle" style="color: #aaa; width: 12px; text-align: center"></i> &nbsp;<strong><a href="/about">about + contact</a></strong></li>
      <li><i class="fa fa-archive" style="color: #aaa; width: 12px; text-align: center"></i> &nbsp;<strong><a href="/archive">blog archive</a></strong></li>
    </ul>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
