---
layout: default
---
<article>
    <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
    {% if page.external_url %}
        <p class="external-url" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis"><a href="{{ page.external_url }}">{{ page.external_url }}</a></p>
    {% else %}
        <p class="written-by">by
            {% if page.author %}
                {{ page.author }}
            {% else %}
                {{ site.author }}
            {% endif %}
            &mdash; <time>{{ page.date | date: "%B %d, %Y" }}</time>
        </p>
    {% endif %}
    {{ content }}
</article>
<div class="spacer"></div>
<p><a href="/">homepage</a></p>
